<div (window:resize)="onResize($event)">
  <header>
    <div class="account">
      <div class="profile">
        <img src="assets/man.jpg">
      </div>
      <div class="name">Prinz Nikko Palahang</div>
    </div>
  </header>
  <section class="action-bar">
    <button class="action-btn active"><i class="fa fa-tasks" aria-hidden="true"></i> Pipeline </button>
    <button class="action-btn"><i class="fa fa-signal" aria-hidden="true"></i> Reports </button>
    <button class="action-btn deal-btn" (click)="newDeal()"><i class="fa fa-plus" aria-hidden="true"></i> New Deal </button>
    <button class="btn-main right" (click)="newStage()"><i class="fa fa-plus" aria-hidden="true"></i> New Stage </button>
  </section>
  <div class="loader" *ngIf="!readyStatus">
    <img src="assets/Spinner.gif">
    <span>Loading Deals...</span>
  </div>
  <section class="stages" [style.height.px]="hv - 161" *ngIf="readyStatus">
    <div *ngFor="let stage of stages; let i of index" class="stage" [style.width.px]="hw / stages.length">
      <div class="stage-head" (click)="editStage(stage)">
        {{stage?.name}} <i class="fa fa-hand-o-right" aria-hidden="true"></i>
      </div>
      <div class="stage-content" [dragula]='"deals"' [style.height.px]="hv - 211" data-id="{{stage.index}}">
        <div class="deal" *ngFor="let deal of stage.deals | async" data-id="{{deal.stage}}-{{deal.id}}" (click)="viewDeal(deal)">
          <div class="title">{{deal.title}}</div>
          <div class="info">
            <span><i class="fa fa-rub" aria-hidden="true"></i> {{deal.value }}</span>
            <span><i class="fa fa-building" aria-hidden="true"></i> {{deal.organization}}</span>
          </div>
        </div>
        <div class="status">
          <i *ngIf="currDate > deal.date" class="fa fa-exclamation-triangle" aria-hidden="true"></i>
        </div>
      </div>
    </div>
  </section>
</div>
<div class="modal fade" id="modalForm" tabindex="-1" role="dialog" aria-labelledby="modalForm" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" *ngIf="!enableUpdate"> <i class="fa fa-square" aria-hidden="true"></i> Add New Stage</h5>
        <h5 class="modal-title" *ngIf="enableUpdate"> <i class="fa fa-square" aria-hidden="true"></i> Update Stage</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label>Stage Name</label>
          <input type="text" [(ngModel)]="stage.name">
        </div>
        <!--                   <div class="form-group" *ngIf="enableUpdate">
                        <label>Stage Order</label>
                        <div class="order-select" *ngFor="let order of stages">
                            <input type="radio" name="index" value="{{order.index}}" [(ngModel)]="stage.index">
                            <span [class.selected]="order.index == stage.index">{{order.index}}</span>
                        </div>
                    </div> -->
      </div>
      <div class="modal-footer">
        <button class="btn-main right" (click)="createStage()" *ngIf="!enableUpdate"> Save </button>
        <button class="btn-main right red" (click)="deleteStage()" *ngIf="enableUpdate"> Detele </button>
        <button class="btn-main right" (click)="updateStage()" *ngIf="enableUpdate"> Update </button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="modalDealForm" tabindex="-1" role="dialog" aria-labelledby="modalForm" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" *ngIf="!enableUpdate"> <i class="fa fa-square" aria-hidden="true"></i> Add New Deal</h5>
        <h5 class="modal-title" *ngIf="enableUpdate"> <i class="fa fa-square" aria-hidden="true"></i> Update Deal</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label>Deal Title</label>
          <input type="text" [(ngModel)]="deal.title">
        </div>
        <div class="form-group">
          <label>Contact Person</label>
          <input type="text" [(ngModel)]="deal.contact">
        </div>
        <div class="form-group">
          <label>Organization Name</label>
          <input type="text" [(ngModel)]="deal.organization">
        </div>
        <div class="form-group">
          <label>Deal Value</label>
          <div class="input-group">
            <span class="input-group-addon">Php</span>
            <input type="text" class="form-control" [(ngModel)]="deal.value">
          </div>
        </div>
        <div class="form-group" style="overflow: auto">
          <label>Stage</label>
          <div class="order-select" *ngFor="let order of stages; let i = index">
            <input type="radio" name="index" value="{{order.index}}" [(ngModel)]="deal.stage">
            <span [class.selected]="order.index == deal.stage">{{i + 1}}</span>
          </div>
        </div>
        <div class="form-group">
          <label>Expected Close Date</label>
          <ng-datepicker [(ngModel)]="deal.date"></ng-datepicker>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn-main right" (click)="createDeal()" *ngIf="!enableUpdate"> Save </button>
        <button class="btn-main right red" (click)="deleteStage()" *ngIf="enableUpdate"> Detele </button>
        <button class="btn-main right" (click)="updateStage()" *ngIf="enableUpdate"> Update </button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="deal" tabindex="-1" role="dialog" aria-labelledby="modalForm" aria-hidden="true" >
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="general">
        <div class="info">
          <span class="title">{{currentDeal?.title}}</span>
          <span class="price"><i class="fa fa-rub" aria-hidden="true"></i> {{currentDeal?.value}}</span>
          <span class="organization"><i class="fa fa-building" aria-hidden="true"></i> {{currentDeal?.organization}}</span>
          <span class="contact"><i class="fa fa-user" aria-hidden="true"></i> {{currentDeal?.contact}}</span>
          <span class="contact"><b>Close Date: </b> {{currentDeal?.date}}</span>
        </div>
        <div class="action">
          <button class="won">WON</button>
          <button class="lost">LOST</button>
        </div>
        <div class="status">
          <div class="status-bar" [style.width.px]="hw * 0.865">
            <div class="status-item" *ngFor="let stage of stages; let i = index" [style.width.px]="(hw * 0.86) / stages.length" [class.active]="stage.index <= currentDeal?.stage">
              <div class="status">{{i}}</div>
              <span class="label">{{stage.name}}</span>
              <div *ngFor="let status of currentDeal?.status;">
                <span class="date" *ngIf="status.stage == stage.index">
                                    <span *ngIf="status.date === currDate">Updated today at {{status.location}}</span>
                <span *ngIf="status.date !== currDate">Updated {{status.date}} at {{status.location}}</span>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="timeline">
        <div class="details">
          <div class="box">
            <div class="header">DETAILS</div>
            <div class="content">
              <div class="detail-list" *ngFor="let details of currentDeal?.details">
                <span class="label">{{details.label}}</span>
                <span class="value">{{details.value}}</span>
              </div>
              <button class="link" *ngIf="!enableAddDetails" (click)="enableAddDetails = true">+ Add deatils here</button>
              <div class="form" *ngIf="enableAddDetails">
                <label>Field Name:</label>
                <input type="text" [(ngModel)]="details.label">
                <label>Field Value:</label>
                <textarea [(ngModel)]="details.value"></textarea>
                <button class="btn-main right" (click)="addDetails(currentDeal)"> Save </button>
                <button class="btn-main right red" (click)="enableAddDetails = false"> Cancel </button>
              </div>
            </div>
          </div>
        </div>
        <div class="actions">
          <div class="editor">
            <div class="box">
              <div class="list-actions">
                <button class="link" (click)="enableNote = true; enableTask = false" [class.active]="enableNote"><i class="fa fa-commenting" aria-hidden="true"></i> Take Notes</button>
                <button class="link" (click)="enableNote = false; enableTask = true" [class.active]="enableTask"><i class="fa fa-calendar-o" aria-hidden="true"></i> Add Activity</button>
              </div>
              <div class="action-field">
                <span (click)="enableNote = true" *ngIf="!enableNote && !enableTask">Click to add note</span>
                <div class="notes" *ngIf="enableNote">
                  <quill-editor [(ngModel)]="note" [options]="editorOptions"></quill-editor>
                  <button class="btn-main right" (click)="addNote(currentDeal)" style="margin-left: 10px"> Save </button>
                  <button class="btn-main right red" (click)="enableNote = false"> Cancel </button>
                </div>
                 <div class="task" *ngIf="enableTask">
                    <label>Title</label>
                    <input type="text" [(ngModel)]="task.title">
                    <label>Details</label>
                    <quill-editor [(ngModel)]="task.details" [options]="editorOptions"></quill-editor>
                    <div class="schedule">
                        <div>
                            <label>Date</label>
                            <ng-datepicker [(ngModel)]="task.date"></ng-datepicker>
                        </div>
                        <div>
                            <label>Time</label>
                            <input type="text" [(ngModel)]="task.time">
                        </div>
                    </div>
                    <div class="assigned">

                    </div>
                    <button class="btn-main right" (click)="addTask(currentDeal)" style="margin-left: 10px"> Save </button>
                    <button class="btn-main right red" (click)="enableTask = false"> Cancel </button>
                 </div>
              </div>
            </div>
          </div>
          <div class="activities">
            <div class="activity" *ngFor="let activity of currentDeal?.activities">
              <div class="icon">
                  <i class="fa fa-calendar-o" aria-hidden="true" *ngIf="activity.type === 'task'"></i>
                  <i class="fa fa-commenting" aria-hidden="true" *ngIf="activity.type === 'note'"></i>
              </div>
              <div class="detail">
                <div class="timeline-box task" *ngIf="activity.type == 'task'">
                  <span class="title">{{activity.title}}</span>
                  <p [innerHTML]="activity.details"></p>
                  <div class="sched">
                    <span><b><i class="fa fa-calendar" aria-hidden="true"></i> </b> {{activity.date}}  <b><i class="fa fa-clock-o" aria-hidden="true"></i> </b> {{activity.time}}</span>
                  </div>
                </div>
                <div class="timeline-box note" *ngIf="activity.type == 'note'" [innerHTML]="activity.value">
                </div>
              </div>
              <div class="signature">{{activity?.created}}</div>
            </div>
            <div class="bar"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="map"></div>
