header {
    float: left;
    width: 100%;
    background: #525252;
    overflow: auto;
    padding: 20px 3%;
}

.account {
    float: right;
}

.profile {
    float: left;
}

.profile img {
    width: 50px;
}

.name {
    float: left;
    padding: 12px;
    font-size: 15px;
    font-weight: 500;
    color: #828282;
}

section.action-bar {
    float: left;
    width: 100%;
    overflow: auto;
    background: #fff;
    padding: 20px 3%;
    border-top: 1px solid #eee;
}

button.action-btn {
    border: none;
    background: transparent;
    color: #828282;
    padding: 0px 30px;
    letter-spacing: 2px;
    font-size: 14px;
}

button.action-btn.active {
    color: #8BC34A
}

button.btn-main {
    /* Rectangle 56: */
    background-image: linear-gradient(-134deg, #B4EC51 0%, #8BC34A 100%);
    border-radius: 4px;
    color: #253c0a;
    padding: 6px 23px;
    border: none;
    font-weight: bold;
    font-size: 12px;
}

.right {
    float: right;
}

 .modal-header {
    background-image: linear-gradient(45deg, #DEDEDE 0%, #EBEBEB 100%);
    color: #676767;
}

h5.modal-title {
    font-size: 15px;
    text-transform: uppercase;
}

h5.modal-title i {
    color: #8BC34A;
    padding-right: 8px;
}

.form-group {
    padding: 10px;
    border-left: 5px solid #e7e7e7;

}

.form-group label {
    width: 100%;
    float: left;
    font-size: 14px;
    font-weight: bold;
    color: #4a4a4a;
}

.form-group input {
    width: 100%;
    border-radius: 3px;
    border: 1px solid #a2a2a2;
    background: #fdfdfd;
    padding: 5px 10px;
    font-size: 18px;
    color: #000;
}

section.stages {
    float: left;
}

.stage:first-child{
    border-left: 0px solid rgba(0, 0, 0, 0.19);
}

.stage:last-child{
    border-right: 0px solid rgba(0, 0, 0, 0.19);
}

.stage {
    float: left;
    height: 100%;
    border-right: 1px solid rgb(255, 255, 255);
    border-left: 1px solid rgba(0, 0, 0, 0.19);
}

.stage-head {
    text-align: center;
    padding: 15px;
    text-transform: uppercase;
    font-size: 14px;
    color: #717171;
    font-weight: bold;
}

.stage-head i {
    color: #8BC34A;
    padding-left: 10px;
}

.order-select {
    width: 40px;
    height: 40px;
    float: left;
    position: relative;
    margin: 0 5px;
}

.order-select input {
    width: 40px;
    height: 40px;
    opacity: 0;
    position: absolute;
}

.order-select span {
    display: block;
    width: 40px;
    height: 40px;
    text-align: center;
    padding: 6px;
    font-size: 14px;
    font-weight: bold;
    color: #969696;
    background: #d4d4d4;
    border-radius: 50px;
    border: 3px solid rgba(255, 255, 255, 0.58);
}

.order-select span.selected {
    background: #8fc94b;
    border: 3px solid rgba(255, 255, 255, 0.58);
    color: #263c0a;
}

button.btn-main.right.red {
    background-image: linear-gradient(-134deg, #F44336 0%, #cc0e00 100%);
    color: #fff;
}

.deal {
    width: 100%;
    background: #fff;
    border-radius: 3px;
    padding: 11px;
    margin-bottom: 5px;
    overflow: auto;
}

.stage-content {
    padding: 5px;
}

.title {
    font-size: 15px;
    font-weight: 600;
}

.info span {
    font-size: 12px;
    color: #717171;
    display: block;
    float: left;
}

.info span i {
    color: #8fc94b;
    margin-right: 4px;
}

.info span:first-child {
    margin-right: 15px;
}
.gu-transit {
    background: #525252 !important;
    color: #bbbbbb !important;
}

.gu-transit span, .gu-transit span i{
    color: #bbbbbb !important;
}

#deal .modal-dialog {
    max-width: 90% !important;
}

.general {
    width: 100%;
    overflow: auto;
    padding: 20px;
    border-bottom: 1px solid #bfbfbf;
}

.general .info {
    width: 70%;
    float: left;
}

.general .info span.title {
    display: block;
    font-size: 19px;
    color: #404040;
    width: 100%;
    float: left;
}

.general .info span.price, .general .info .organization, .general .info .contact {
    font-size: 14px !important;
    float: left !important;
    margin: 3px 20px 3px 0px !important;
}

.general .info i {
    color: #8fc94b;
}

.general button {
    border: none;

    padding: 3px 15px;
    color: #fff;
    font-size: 13px;
    font-weight: bold;
    border-radius: 2px;
}

.general button.lost{
       background: #F44336; 
}

.general button.won{
       background: #8BC34A; 
}

.general .action {
    float: left;
    width: 30%;
    text-align: right;
}

.general .status {
    float: left;
    width: 100%;
    margin: 10px 0;
}

.general .status .status-item {
    float: left;
}

.status-item .status {
    float: left;
    width: 40px !important;
    height: 40px;
    line-height: 0;
    background: #61615A;
    /* Rectangle 2: */
    background-image: linear-gradient(-223deg, #B1B1B1 0%, #2C2C2C 100%);
    color: #fff;
    font-size: 22px;
    padding: 20px 0px;
    border-radius: 28px;
    text-align: center;
}

.status-item span.label {
    font-size: 14px;
    display: block;
    margin-left: 13px;
    float: left;
    width: 74%;
    font-weight: 600;
    color: #929292;
    margin-top: 10px;
}

.status-item span.date, .status-item span.location {
    font-size: 11px;
    margin-left: 13px;
    float: left;
    width: 61%;
    color: #9e9e9e;
    height: 50px;
    display: block;
    overflow: hidden;
}

.status-item.active .status {background: #8BC34A !important;}

.status-item.active span.date {color: #fff !important;}

.status-item.active .label {
    color: #8AC44B !important;
}

.status-item span.location {
    font-style: italic;
    font-size: 9px !important;
}

.status-item {
    padding: 0px 11px 13px;
    background: #292929;
    margin-right: 1px;
    min-height: 100px;
}

.timeline {
    padding: 10px;
    background: #bfbfbf40;
        min-height: 500px;
}

.loader {
    width: 100%;
    padding: 20% 0;
    text-align: center;
}

.loader img {
    width: 100px;
}

.loader span {
    display: block;
}

.details {
    width: 30%;
    float: left;
    overflow: auto;
}

.details {}

.box {
    width: 100%;
    background: #fff;
    border-radius: 4px;
    border: 1px solid rgba(191, 191, 191, 0.5098039215686274);
}

.box .header {
    padding: 14px;
    font-size: 13px;
    font-weight: bold;
    color: #888;
    border-bottom: 1px solid #dedede;
}

.box .content {
    padding: 12px;
}

button.link {
    border: none;
    background: transparent;
    font-size: 13px;
    font-weight: bold;
    color: #2196F3;
}

.box .form {
    width: 100%;
    padding: 10px;
    border: 1px solid #d4d4d4;
    background: #f7f7f7;
    overflow: auto;
}

.box .form label {
    font-size: 13px;
    display: block;
}

.box .form input, .box .form textarea {
    width: 100%;
    border: 1px solid #bdbdbd;
        padding: 5px 10px;
}

.box .form button {
    margin: 3px;
}

.detail-list {
        width: 100%;
    background: rgba(220, 220, 220, 0.2901960784313726);
    margin-bottom: 7px;
    padding: 5px 10px;
    border-radius: 4px;
}

.detail-list
 .label {
    font-size: 14px;
    display: block;
    font-weight: bold;
}

.detail-list
 .value {
    display: block;
    font-size: 16px;
}

.timeline .actions {
    float: left;
    width: 69%;
    margin-left: 1%;
}

.timeline .actions .editor {}

.timeline .actions .editor .box {}

.timeline .actions .editor .box .list-actions {
    width: 100%;
    padding: 10px;
    background: gainsboro;
}

.timeline .actions .editor .box .action-field {
    padding: 10px;
    width: 100%;
    float: left;
    background: #fff;
    border: 1px solid rgba(191, 191, 191, 0.5098039215686274);
}

.timeline .actions .editor .box .list-actions .link {
    color: #000;
}

 .ql-editor {
    min-height: 100px !important;
    border: none !important;
}

.quill-editor.ql-container.ql-snow {
    border: none !important;
}

.ql-toolbar {
    border: none !important;
}

.status-bar {
    overflow: auto;
    margin: 0 auto;
}

button.link.active {
    background: #a9e24e;
    color: #2e460f !important;
    border-radius: 2px;
}

.task {
    padding: 13px;
}

.task label {
    float: left;
    width: 10%;
    text-align: right;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
}

.task input[type="text"],
 .task quill-editor {
    float: left;
    width: 87%;
    margin-left: 3%;
    border: 1px solid #cacaca;
    margin-bottom: 10px;
    border-radius: 3px;
    padding: 7px;
}

.schedule {
    width: 100%;
    float: right;
}

.schedule input {
    float: left;
    width: auto !important;
}

.schedule .ngx-datepicker-input {
    padding: 9px !important;
    float: left;
}


.activities {
    float: right;
    width: 100%;
    padding: 20px;
    position: relative;
}

.activity {
    float: left;
    width: 100%;
    overflow: auto;
    margin-bottom: 10px;
    position: relative;
    z-index: 100;
}

.activity {}

.activity .icon {
    float: left;
    padding: 6px 10px;
    background: #fff;
    border: 1px solid #dedede;
    border-radius: 32px;
    margin: 0px 15px 10px 0px;
    color: #bbb;
}

.activity .detail {
    float: left;
    width: 90%;
    padding: 10px;
    background: #fff;
    border: 1px solid #dedede;
}

.detail:after {
    content: '';
    position: absolute;
    left: 47px;
    top: 13px;
    width: 12px;
    height: 12px;
    background-color: #fff;
    border-left: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    z-index: 6;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.ngx-datepicker-position-bottom-right {
    top: 40px;
    left: 0;
    z-index: 1000;
}

.signature {
    width: 92%;
    float: right;
    padding: 7px;
    font-size: 12px;
    color: #585858;
}

.bar {
    border: 1px dotted #ccc;
    float: left;
    position: absolute;
    z-index: 0;
    margin-left: 18px;
    left: 18px;
    top: 23px;
    bottom: 30px;
    width: 2px;
}

.activity p {
    font-size: 14px;
    margin: 0;
}

.sched {
font-size: 12px;
    margin: 10px 10px 10px 0;
    overflow: auto;
    width: auto !important;
    float: left;
    border-left: 2px solid #72b727;
}

.sched i {
    margin: 0px 3px 0px 11px;
}

button.action-btn.deal-btn {
    border: 1px solid #8BC34A;
    padding: 5px 10px;
    border-radius: 5px;
    color: #8BC34A;
}